<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Player - LigaLab</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="dashboard-body">
        <div class="dashboard-wrapper">
            <aside class="sidebar">
                <div class="sidebar-brand">LIGALAB</div>
                <nav class="sidebar-menu">
                    <a href="{{ url_for('home') }}" class="menu-item">Home</a>
                    <a href="{{ url_for('leagues') }}" class="menu-item">Leagues</a>
                    <a href="{{ url_for('teams') }}" class="menu-item">Teams</a>
                    <a href="{{ url_for('players') }}" class="menu-item active">Players</a>
                    <a href="{{ url_for('schedules') }}" class="menu-item">Schedules</a>                
                </nav>
                <div class="sidebar-user-badge">Coach Michelle</div>
            </aside>

            <main class="dashboard-content">
                <div>
                    <a href="{{ url_for('players')}}" class="back-button">← Go Back</a>
                </div>

                <div class="form-card">
                    <h2> Save Player</h2>

                    <form action="{{ url_for('create_player') }}" method="POST" onsubmit="return validatePlayerForm(event)">
                        <div class="creation-grid">
                            <div class="input-group">
                                <label>Player Name</label>
                                <input type="text" name="player_name" placeholder="Enter player name" required>
                                <span id="player-error" class="error-text"></span> 
                            </div>

                            <div class="input-group">
                                <label>Position</label>
                                <input type="text" name="player_position" placeholder="Enter player position">
                            </div>

                            <div class="input-group">
                                <label>Jersey Number</label>
                                <input type="text" name="player_position" placeholder="Enter players' jersey number">
                            </div>
                        </div>

                        <div class="accordion-header" onclick="toggleSection('team-section')">
                            <h3>Assign to Team(Optional)</h3>
                            <span class="caret">&#x2304;</span>
                        </div>

                        <div id="team-section" class="accordion-content">
                            <div class="input-group">
                                <label>Select Team</label>
                                <select name="player_team">
                                    <option value="Unassigned">--- FREE AGENT ----</option>
                                    {% for team in teams %}
                                        <option value="{{ team.name }}">{{ team.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn-add-hero">Save Player</button>
                    </form>
                </div>
            </main>
        </div>

        <script src="{{ url_for('static', filename='create_player.js')}}"></script>
    </body>
</html>