<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LigaLab</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="dashboard">
        <div class="dev-banner">
            <strong>SYSTEM NOTICE:</strong> 
        </div>
           
        <h1>LigaLab</h1>>
        <hr>
         
        <div class="stat-card">
            <span class="stat-label">Total Active Players:</span>
            <span id="total-players">Loading...</span>
        </div>

        <div class="stat-card">
            <span class="stta-label">MVP Tracker Leader:</span>
            <span id="mvp">Loading...</span>
        </div>

        <div class="stat-card">
            <span class="stat-label">Elite Scorers</span>
            <div id="elite-scorers">Loading...</div>
        </div>

        <hr>

        <h2>Control Panel</h2>

        <div class="form-card">
            <h3>Create Manager Account</h3>
            <input type="text" id="reg-username" placeholder="Username">
            <input type="password" id="reg-password" placeholder="Password">
            <button onclick="registerUser()">Register</button>
            <p id="reg-message" class="message"></p>
        </div>

        <div class="form-card">
            <h3>Create Custom League</h3>
            <input type="text" id="league-mgr" placeholder="Your registered username">
            <input type="text" id="league-name" placeholder="League name">
            <button onclick="createNewLeague()">Create New League</button>
            <p id="league-message" class="message"></p>
        </div>

        <div class="form-card">
            <h3>Add Team to League</h3>
            <input type="text" id="team-mgr" placeholder="Your registered username">
            <input type="text" id="team-league" placeholder="League Name">
            <input type="text" id="team-name" placeholder="New Team Name">
            <button onclick="addNewTeam()">Add Team</button>
            <p id="team-message" class="message"></p>
        </div>

        <div class="form-card">
            <h3>Recruit Player to Team Roster</h3>
            <input type="text" id="player-mgr" placeholder="Your registered username">
            <input type="text" id="player-league" placerholder="League Name;">
            <input type="text" id="player-team" placeholder="Enter the team of the player">
            <input type="text" id="player-name" placeholder="Enter player name:">
            <button onclick="addNewPlayer()">Sign Player</button>
            <p id="player-message" class="message"></p>
        </div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>